@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

*{
    box-sizing: border-box ;
}

body{
    font-family: "Rubik", sans-serif;
}

.background1{
    background: radial-gradient(
        circle at 100% -20%,  
        hsl(293, 100%, 63%),
        hsl(264, 100%, 61%)
    );
    width: 450px;
    margin-left: -120px;
    height: 550px;
    border-bottom-left-radius: 260px;
    border-bottom-right-radius: 260px;
}

.phone1{
    background: rgb(246,248,247);
    height: 450px;
    width: 220px;
    margin-top: -480px;
    margin-left: 230px;
    border-radius: 20px;
    display: block;
    box-shadow: 1px 1px 1px 1px rgb(190, 190, 190);
    float: left;
}

.phone2{
    display: inline-block;
    background: rgb(241,244,248);
    height: 430px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
}

.top_phone{
    display: inline-block;
    background: rgb(246,248,247);
    width: 120px;
    height: 25px;
    border-radius: 20px;
    margin-top: -25px;
    margin-left: 45px;
}

.top_section{
    background: radial-gradient(
        circle at 100% -20%,  
        hsl(293, 100%, 63%),
        hsl(264, 100%, 61%)
    );
    display: block;
    width: 201px;
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    margin-left: -1px;
}

.row{
    margin-top: 8px;
    margin-left: -7px;
    display: inline-block;
}

.circle_img{
    border-radius: 70px;
    height: 30px;
    border: 2px solid #fff;
    margin-top: -50px;
    margin-left: 13px;
    padding: 0;
}

.avatar_name{
    color: #fff;
    margin-left: 45px;
    margin-top: -50px;
    font-size: 11px;
}

.avatar_info{
    color: hsl(276, 100%, 81%);
    margin-left: 45px;
    font-size: 7px;
}

.dropdown{
    margin-top: -20px;
    margin-left: 85px;
    padding: 0;
}

.content{
    margin: 25px 5px;
}

.sender1{
    background-color:  rgb(239,228,249);
    color: hsl(276, 55%, 52%);
    border-radius: 10px 10px 10px 0px;
    font-size: 7px;
    width: 70%;
    margin: 3px;
    padding: 8px;
}

.imgs img{
    height: 30px;
    width: 30px;
    border-radius: 11px;
    margin-top: 3px;
    float: right;
    border-spacing: 2px;
    margin-right: 4px;
}

.user1{
    background-color:  hsl(285, 100%, 99%);
    color: hsl(276, 55%, 52%);
    border-radius: 10px 10px 0px 10px;
    font-size: 7px;
    width: 70%;
    margin-top: 5px;
    padding: 8px;
    float: right;
}

.sender2{
    margin-top: 120px;
}

.sender_pay{
    background: radial-gradient(
        circle at 100% -20%,  
        hsl(293, 100%, 63%),
        hsl(264, 100%, 61%)
    );
    font-size: 8px;
    width: 70%;
    margin: 4px;
    text-align: justify;
    border-radius: 10px 10px 10px 0px;
    color: #fff;
    padding: 5px;
}

.gap{
    float: right;
    margin-right: 11px;
    margin-top: 5px;
}
.grey{
    font-size: 7px;
    color: rgb(221, 218, 218);
    margin-right: 30px;
    margin: 10px;
}

.placehold{
    background-color: #fff;
    height: 30px;
    border-radius: 20px;
}

.blue{
    background-color: hsl(246, 49%, 21%);
    border-radius: 60%;
    margin-top: 2px;
    margin-right: 5px;
    float: right;
}

.align-right{
    float: right;
    font-size: 40px;
    margin-left: 500px;
    margin-top: -400px;
    padding: 60px;
}

.align-right p{
    font-size: 15px;
    font-weight: 100;
    color: rgb(179, 179, 179);
}


@media (max-width:400px){
    .background1{
        margin-left: -250px;
        height: 500px;
    }

    .phone1{
        margin-top: -450px;
        margin-left: 80px;
        height: 450px;
        width: 220px;
    }

    .phone2{
        height: 430px;
        width: 200px;
    }

    .align-right{
        margin-top: -20px;
        margin-left: 10px;
        text-align: center;
        font-size: 15px;
        justify-content: center;
    }

    .align-right p{
        color: rgb(179, 179, 179);
    }
}